@keyframes pen-write {
    5% {
        left: 0;
        transform: translateY(-10px)
    }
    25%,
    45%,
    65% {
        transform: translateX(10px)
    }
    30%,
    50% {
        transform: translateY(-10px)
    }
    70% {
        left: 60px
    }
    to {
        left: 0
    }
}

@keyframes gear-rotate {
    to {
        transform: rotate(360deg)
    }
}

@keyframes stretch-after {
    10% {
        width: 150px
    }
    15%,
    25%,
    35%,
    45% {
        width: 70px
    }
    20% {
        width: 110px
    }
    30% {
        width: 90px
    }
    40% {
        width: 80px
    }
}

@keyframes mobile {
    0% {
        transform: translatey(0) rotate(0deg)
    }
    25%,
    75% {
        transform: translatey(40px) rotate(-7deg)
    }
    50% {
        transform: translatey(40px) rotate(7deg)
    }
    to {
        transform: translatey(20px) rotate(0deg)
    }
}

@keyframes play {
    0% {
        transform: rotateY(10deg)
    }
    50% {
        transform: rotateY(180deg)
    }
}

@keyframes play-hover {
    0% {
        transform: rotateX(10deg)
    }
    20% {
        transform: rotateX(180deg)
    }
}

@keyframes peopl-come {
    0%,
    20%,
    60%,
    to {
        transform: scale(0) translateX(0)
    }
    35%,
    75% {
        transform: scale(1)
    }
    40% {
        transform: translateX(-110px)
    }
    55%,
    95% {
        transform: scale(0)
    }
    85% {
        transform: translateX(110px)
    }
}

@keyframes coffe-fast {
    0% {
        left: 97px;
        opacity: 0
    }
    40%,
    90% {
        left: 0;
        opacity: 1
    }
    to {
        left: -97px;
        opacity: 0
    }
}

@keyframes chat-explos {
    0%,
    35%,
    49%,
    63%,
    77% {
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
    7% {
        transform: matrix(1, 1, 0, 1, 0, 0)
    }
    14% {
        transform: matrix(1, -1, 0, 1, 0, 0)
    }
    21% {
        transform: matrix(1, 0, 1, 1, 0, 0)
    }
    28% {
        transform: matrix(1, 0, -1, 1, 0, 0)
    }
    42%,
    56% {
        transform: matrix(2, 0, 0, 1, 0, 0)
    }
    70% {
        transform: matrix(1, 0, 0, 2, 0, 0)
    }
}

@keyframes heart-beat {
    0% {
        transform: scale(1)
    }
    35% {
        transform: scale(1.2)
    }
    40% {
        transform: scale(1.4)
    }
}

@keyframes pan-swing {
    15% {
        transform: rotateZ(40deg)
    }
    25% {
        transform: rotateZ(-40deg)
    }
    45% {
        transform: rotateZ(20deg)
    }
    55% {
        transform: rotateZ(-20deg)
    }
    65% {
        transform: rotateZ(10deg)
    }
    75% {
        transform: rotateZ(-10deg)
    }
}

@keyframes hover-arrow {
    40% {
        width: 110px
    }
    to {
        width: 93px
    }
}

@keyframes logo-pingpong {
    10% {
        transform: translateY(-100px)
    }
    15%,
    40%,
    55%,
    70%,
    to {
        transform: translateY(0)
    }
    30% {
        transform: translateY(-63px)
    }
    45% {
        transform: translateY(-25px)
    }
    65% {
        transform: translateY(-8px)
    }
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
    font-family: Montserrat;
    font-weight: 100
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-family: Montserrat;
    font-weight: 200
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
    font-family: Montserrat;
    font-weight: 300
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-family: Montserrat;
    font-weight: 400
}

@font-face {
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-family: Montserrat;
    font-weight: 500
}

@font-face {
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-family: Raleway;
    font-weight: 400
}

@font-face {
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-family: Raleway;
    font-weight: 500
}

@font-face {
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
    font-family: Raleway;
    font-weight: 600
}

@font-face {
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
    font-family: Raleway;
    font-weight: 800
}

.carousel-inner {
    width: 100%;
    height: 100vh;
}

.carousel-inner div,
.carousel-inner img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

* {
    padding: 0
}

#hidden-menu-switch {
    position: absolute;
    visibility: hidden;
    left: -99999999px;
}

#hidden-menu-switch:checked~nav>.menu {
    top: calc(0vh - 40px) !important;
}

.Latest-projects-text h1,
.mobile-devices h1,
.portfolio-text h1,
.posts h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 600;
    color: #555
}

*,
.Latest-projects-text p,
.mobile-devices p,
.portfolio-text p {
    margin: 0
}

.Latest-projects-text p,
.mobile-devices p,
.portfolio-text p,
.posts p {
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 28px;
    text-align: center;
    color: #8c8c8c
}

.add-menu,
.logo,
.hidden-menu-switch {
    z-index: 10;
}

.inner-wrap,
body {
    width: 100%;
    position: relative
}

body {
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden
}

header {
    max-width: 1280px !important;
    margin-top: 40px!important
}

.inner-wrap {
    max-width: 1210px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden
}

.blackout {
    background: rgba(0, 0, 0, .5);
}

.logo {
    justify-content: space-between;
    align-items: center;
    text-decoration: none!important
}

.logo-svg {
    fill: #fff;
    transition: all .5s
}

.logo-txt,
.logo-footer-txt {
    font-family: Raleway;
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    transition: all .5s
}

header label {
    display: none;
}

.hide-menu {
    align-items: center;
    cursor: pointer;
    transition: all .2s
}

.hide-menu svg {
    fill: #fff
}

.hide-menu:hover svg {
    fill: #998675;
    transition: all .5s
}

.cart:hover,
.logo:hover .logo-svg,
.search:hover {
    fill: #998675
}

.add-menu button {
    padding: 0 15%;
}

.add-menu {
    width: 100%;
}

.menu li {
    padding: 0 2%;
}

.logo:hover .logo-txt,
.menu li a:hover {
    color: #998675
}

.menu {
    padding: 0 5% 0 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    line-height: 80px
}

.menu li a,
.menu-link ul li a {
    display: block;
    text-align: center
}

.menu li a {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    transition: all .2s
}

.cart,
.search {
    background: 0 0;
    outline: 0!important;
    border: 0!important;
    fill: #fff;
    transition: all .2s
}

header nav ul,
header nav,
.btn-link,
.menu,
.add-menu,
.logo,
.text-center {
    display: flex;
}

.btn-link,
.text-center {
    width: 590px;
    color: #fff;
    font-family: 'Raleway'
}

.text-top {
    font-size: 36px
}

.text-center>h1 {
    font-size: 52px;
    font-weight: 800
}

.text-center>p {
    font-size: 16px;
    font-weight: 300
}

.btn-link {
    font-weight: 600!important;
    font-size: 14px;
    width: 170px;
    height: 50px;
    line-height: 14px;
    text-align: center;
    text-decoration: none!important;
    color: #fff!important;
    background-color: #998675;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: inset 0 -3px 1px rgba(0, 0, 0, .3);
    transition: all .5s
}

.btn-link:hover {
    box-shadow: inset 0 -200px 1px rgba(0, 0, 0, .3)
}

.btn-link:active {
    box-shadow: inset 0 -200px 1px rgba(0, 0, 0, .5)
}

.btn-link-txt {
    margin: auto
}

.text-center .btn-link {
    height: 53px;
    margin-top: 50px;
}

.pagination-link {
    box-sizing: unset;
    display: block;
    width: 11px;
    height: 11px;
    margin: 5px;
    border-radius: 50%;
    background: #ffffff50;
    transition: box-shadow 1s
}

.pagination-link.active,
.pagination-link:hover {
    box-shadow: 0 0 0 2px #d3c1ad;
    background: 0 0;
    transition: .2s;
    cursor: pointer;
}

.arrow {
    fill: #ffffff50;
    transition: fill .5s
}

.carousel-control-prev:hover .arrow,
.carousel-control-next:hover .arrow {
    fill: #d3c1ad
}

.services {
    padding: 60px 0 80px
}

.services-item {
    padding-top: 20px;
    width: 270px;
    margin: 0 15px;
    box-sizing: border-box;
    text-align: center;
    color: #555;
    font-weight: 800;
    transition: all .5s
}

.services-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1ece6;
    transition: all .5s
}

.services-item:hover .services-icon,
.services-item:hover .services-title {
    fill: #998675;
    color: #998675;
    transition: all .5s
}

.pen {
    position: relative
}

.services-item:hover .pen {
    animation: pen-write 1.5s linear infinite
}

.services-item:hover .gear {
    animation: gear-rotate 1s linear infinite
}

.services-item:hover:after {
    background: #c7b299;
    transition: all .5s;
    animation: stretch-after 5s
}

.services-icon {
    fill: #555;
    transition: all .5s
}

.services-title {
    margin: 20px 0 30px;
    width: 100%;
    font-family: 'Raleway';
    font-weight: 600;
    transition: all .5s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.item-box-bottom span,
.services-txt {
    font-family: 'Montserrat';
    font-weight: 300
}

.services-txt {
    margin: 0 0 30px
}

.screen-img {
    height: 482px;
    background: url(../images/browser-center.jpg)center bottom no-repeat, url(../images/browser-left.jpg) left bottom no-repeat, url(../images/browser-right.jpg) right bottom no-repeat
}

.portfolio {
    background: #fbfaf8
}

.portfolio-text {
    width: 770px;
    margin: 100px 0 40px;
    padding: 0 25px
}

.purchase {
    padding: 50px 0;
    background-image: linear-gradient(90deg, #211b19, #4e3427)
}

.purchase-text h1 {
    color: #c7b299;
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 400!important
}

.item-box:hover .item-box-bottom h2,
.posts-item:hover .item-bottom p,
.purchase-text h1>span {
    color: #fff
}

.purchase p {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #615855;
    text-align: left
}

.purchase .btn-link {
    margin-left: 10px;
}

.categories {
    padding: 40px 0
}

.categories li {
    list-style: none;
    display: inherit
}

.categories-link {
    padding: 10px 23px;
    text-decoration: none!important;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 14px;
    margin: 0 5px;
    transition: all .5s
}

.categories .active,
.categories-link:active,
.categories-link:hover {
    color: #fff;
    background: #998675;
    border: 1px solid #998675
}

.item-box {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer
}

.item-box,
.item-box-top {
    overflow: hidden;
    transition: all .5s
}

.item-box-bottom {
    z-index: 3;
    padding: 25px;
    text-align: left;
    background: #fbfaf8;
    position: relative;
    transition: all .5s
}

.item-box-bottom h2 {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    color: #c7b299
}

.item-box-bottom span {
    font-size: 14px;
    color: #d1d1d1
}

.item-box-bottom:before {
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: -10px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    transition: all .5s
}

.item-box-dark {
    z-index: 2;
    opacity: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    transition: opacity .5s
}

.item-box-top img {
    z-index: 1;
    transition: all .5s
}

.item-box:hover .item-box-dark {
    opacity: 1
}

.item-box:hover .menu-link {
    opacity: 1;
    transition: all .5s
}

.item-box:hover .item-box-bottom {
    background: #362f2d
}

.item-box:hover .item-box-bottom:before {
    border-bottom: 10px solid #362f2d
}

.item-box:hover .item-box-bottom span,
.posts-item:hover .item-bottom h2 {
    color: #c7b299
}

.item-box:hover .item-box-top img {
    transform: scale(1.25);
    transition: all .5s
}

.Latest-projects {
    padding: 80px 0
}

.Latest-projects-grid {
    margin-bottom: 10px
}

.Latest-projects-text {
    width: 830px
}

.menu-link {
    height: 65px;
    opacity: 0;
    z-index: 99;
    transition: all .5s
}

.menu-link ul li {
    list-style: none;
    display: inline
}

.menu-link ul li a {
    line-height: 65px;
    width: 65px;
    height: 65px
}

.menu-link a:hover svg,
.menu-link svg {
    fill: #fff;
    transition: all .2s ease-in
}

.menu-link a:hover svg {
    fill: #c7b299
}

.video-presentation {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/video_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 197px 0
}

.play {
    outline: 0;
    border: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00000020;
    transition: all .3s
}

.play svg {
    fill: #fff;
    transition: all .5s;
    animation: play 2s linear infinite
}

.play:hover svg {
    animation: play-hover 2s linear 1
}

.play:focus {
    outline: 0;
    box-shadow: 0 0 10px 15px rgba(110, 240, 70, .3);
    transition: all .5s
}

.play:active {
    background: rgba(110, 240, 70, .3);
    transition: all .5s
}

.text-info-video {
    text-align: center;
    width: 600px
}

.text-info-video h1 {
    color: #fff;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px
}

.text-info-video p {
    line-height: 28px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    margin: 25px 0
}

.counters-item span,
.text-info-video time {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #c7b299
}

.mobile-devices img {
    margin: 0 30px;
    transition: all .5s
}

.mobile-devices {
    padding-top: 80px
}

.mobile-devices img:hover {
    animation: mobile 1s;
    transform: translatey(20px);
    transition: all .5s
}

.mobile-devices-text ul li {
    list-style: none;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 2em;
    font-weight: 300;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21px' height='21px'%3E%3Cpath fill-rule='evenodd' fill='rgb(199, 178, 153)' d='M10.500,0.001 C4.702,0.001 0.001,4.701 0.001,10.499 C0.001,16.298 4.702,20.998 10.500,20.998 C16.299,20.998 20.998,16.298 20.998,10.499 C20.998,4.701 16.299,0.001 10.500,0.001 ZM13.789,10.997 L9.250,15.535 C8.977,15.808 8.533,15.808 8.260,15.535 C7.987,15.261 7.987,14.818 8.260,14.545 L12.307,10.499 L8.260,6.452 C7.987,6.179 7.987,5.736 8.260,5.463 C8.533,5.189 8.977,5.189 9.250,5.463 L13.789,10.002 C13.927,10.139 13.995,10.320 13.994,10.499 C13.994,10.680 13.927,10.859 13.789,10.997 Z'/%3E%3C/svg%3E") no-repeat center left;
    padding-left: 51px;
    margin-left: 50px;
    color: #8c8c8c
}

.mobile-devices-text ul li:before svg {
    fill: #00f
}

.mobile-devices-text p {
    margin: 40px 0;
    text-align: left
}

.counters {
    padding: 40px 0 65px;
    background-image: linear-gradient(90deg, #211b19, #4e3427)
}

.counters-item {
    padding-top: 25px
}

.counters-item span {
    margin: 15px 0 0;
    font-weight: 200;
    font-size: 48px;
    text-align: center;
    color: #fff
}

.counters-item p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #c7b299;
    text-transform: uppercase
}

.counters-item:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff
}

.counters-item svg {
    fill: #c7b299
}

.heart svg {
    animation: heart-beat 1s infinite
}

.pan svg {
    animation: pan-swing 1.5s infinite
}

.chat svg {
    animation: chat-explos 1.5s infinite
}

.coffe,
.peopl {
    overflow: hidden
}

.coffe svg {
    position: relative;
    animation: coffe-fast 3s infinite
}

.peopl svg {
    animation: peopl-come 3s reverse linear infinite
}

.posts {
    padding: 80px 0
}

.posts .pagination {
    bottom: 10px
}

.posts-item {
    margin-bottom: 30px
}

.calendar {
    top: 20px;
    left: 20px
}

.calendar .day {
    border-radius: 5px 5px 0 0;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    padding: 2px 11px;
    background-color: #363636;
    transition: all .5s
}

.calendar .month {
    border-radius: 0 0 5px 5px;
    padding: 3px 11px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #fff;
    background-color: #252525;
    transition: all .5s
}

.calendar .month,
.posts h1 {
    text-align: center
}

.posts p {
    max-width: 770px;
    margin: 30px auto 40px
}

.posts .item-bottom {
    max-width: 370px;
    border-left: 1px solid#f8f8f8;
    border-right: 1px solid#f8f8f8;
    border-bottom: 1px solid#f8f8f8;
    padding: 30px;
    transition: all .5s
}

.posts .item-bottom h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #555
}

.posts .item-bottom a,
.posts .item-bottom p,
.item-footer>p+a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-align: left
}

.posts .item-bottom p {
    color: #8c8c8c;
    padding: 20px 0
}

.posts .item-bottom a,
.item-footer>p+a {
    text-decoration: none;
    color: #c7b299!important;
    position: relative;
    width: 93px;
    transition: all .5s
}

.posts .item-bottom a:before,
.item-footer>p+a:before {
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
    border-left: 5px solid #c7b299;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: all .5s
}

.posts .item-top {
    overflow: hidden
}

.posts .item-bottom a:hover,
.item-footer>p+a:hover {
    animation: hover-arrow 1s infinite
}

.posts-item:hover .calendar .day {
    background-color: #c7b299
}

.posts-item:hover .calendar .month {
    background-color: #a48d72
}

.posts-item:hover .item-box-dark {
    opacity: 1;
    transition: all .5s
}

.posts-item:hover .item-bottom {
    background: #362f2d;
    border: transparent;
    transition: all .5s
}

.pagination-rows svg {
    fill: #d1d1d1
}

.pagination-rows button {
    margin: 10px 4px 0;
    outline: none;
    border: none;
    background: transparent;
}

.pagination-rows button:hover svg {
    fill: #c7b299;
}

.pagination-rows button:focus {
    outline: none;
    border: none;
}

.sponsors {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/bg.jpg) no-repeat center;
    background-size: cover
}

.sponsors .logo {
    background-image: url(../images/Logos-sprites.png);
    width: 210px;
    height: 210px;
    background-size: cover;
    background-repeat-y: no-repeat
}

.inner-logo {
    padding: 140px 25px
}

.inner-logo:hover .logo {
    animation: logo-pingpong 1.5s
}

.inner-logo:nth-child(2) .logo {
    background-position: -210px 0
}

.inner-logo:nth-child(3) .logo {
    background-position: -420px 0
}

.inner-logo:nth-child(4) .logo {
    background-position: -630px 0
}

.footer-top {
    padding: 80px 0;
    background-color: #191919
}

.item-footer {
    margin: 0 5px;
    width: 270px;
    font-family: 'Montserrat';
    text-align: left;
}

.item-footer:nth-child(1) p {
    margin: 30px 0;
}

.item-footer h3 {
    margin: 25px 0;
    font-family: 'Raleway';
    font-size: 24px;
    color: #fff;
}

.item-footer>div:hover p {
    color: #c7b299;
    transition: all .2s;
}

.item-footer>div:hover span {
    color: #fff;
    transition: all .2s;
}

.item-footer p {
    margin: 0;
    ;
    color: #555;
    font-size: 14px;
    transition: all .5s;
}

.recent-posts p {
    margin: 5px 0 15px 0;
}

.item-footer:not(:first-child):not(:last-child) div:not(:last-child):after {
    content: "";
    display: block;
    height: 2px;
    background-color: #252525;
    margin-bottom: 15px;
}

.item-footer .logo+p {
    margin: 30px 0;
}

.item-footer:not(:first-child) span {
    font-size: 12px;
    color: #363636;
    transition: all .5s;
}

.twitter span {
    margin-top: 3px;
    display: block;
    margin-bottom: 23px;
}

.twitter a {
    color: #00bff3;
}

.twitter div:nth-child(4) a {
    color: #959595;
}

.twitter div:nth-child(4) a:hover {
    color: #00bff3;
}

.twitter a:hover {
    text-decoration: none;
    color: #c7e8f7;
}

.widgets div a:nth-child(2n+1) {
    margin-right: 10px;
}

.widgets div a {
    margin-bottom: 10px;
    overflow: hidden;
}

.widgets div a img {
    transition: all .5s;
}

.widgets div a:hover img {
    transform: scale(1.2);
    transition: all .3s;
}

.footer-bottom {
    bottom: 0;
    background: #111;
    padding: 45px 0 50px 0;
}

.footer-bottom ul {
    margin: 0;
}

.footer-bottom ul li {
    list-style-type: none;
    display: inline;
    margin: 0 2px;
}

.footer-bottom ul li:not(:first-child):before {
    content: "|";
    color: #252525;
    margin: 0px 5px;
}

.footer-bottom ul li a {
    font-family: 'Montserrat';
    font-size: 13px;
    text-align: right;
    color: #555;
    line-height: 20px;
    transition: all .5s;
}

.footer-bottom ul li a span {
    color: #959595;
}

.footer-bottom ul li a:hover {
    text-decoration: none;
    color: #c7b299;
    transition: all .2s;
}

@media screen and (max-width:1024px) {
    header .logo-txt {
        display: none;
    }
    .menu {
        padding: 0;
    }
    .add-menu button {
        padding: 0 10%;
    }
    .menu li {
        padding: 0 1%;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    header {
        width: 100%!important
    }
    .mobile-devices>div {
        flex-direction: column-reverse;
    }
    .sponsors .logo {
        width: 150px;
        height: 150px;
    }
    .inner-logo:nth-child(2) .logo {
        background-position: -150px 0
    }
    .inner-logo:nth-child(3) .logo {
        background-position: -300px 0
    }
    .inner-logo:nth-child(4) .logo {
        background-position: -450px 0
    }
}

@media screen and (max-width:800px) {
    header nav ul li a:hover {
        background: #c7b299;
        color: #fff !important;
    }
    header {
        overflow: inherit !important;
    }
    header .menu {
        padding-top: 116px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        left: 0;
        top: calc(-100vh - 40px);
        background-color: black;
        position: absolute;
        display: flex !important;
        transition: top 1s;
    }
    .purchase>div {
        justify-content: center !important;
    }
    .hide-menu {
        display: flex;
    }
    header label {
        display: flex;
        margin: 0;
    }
    header nav ul,
    header .logo-txt,
    .add-menu .search {
        display: none !important;
    }
    .counters>div {
        justify-content: space-around !important;
        flex-wrap: wrap;
    }
    .inner-logo {
        justify-content: center!important
    }
    .Latest-projects-text,
    .portfolio-text,
    nav.categories li a {
        width: 100%
    }
    nav.categories {
        width: 100%
    }
    header {
        flex-direction: none !important;
    }
    .video-presentation p {
        display: none;
    }
    .gallery .text-center {
        width: 50%;
    }
    .text-center h1 {
        font-size: 2em
    }
    .text-top {
        font-size: 1.5em
    }
    .services>div {
        justify-content: space-around!important;
        flex-wrap: wrap!important;
    }
    .mobile-devices-text ul li {
        text-align: left!important
    }
    .mobile-devices>div {
        flex-direction: column-reverse!important
    }
    .arrows {
        width: 75%!important
    }
    .screen-img {
        height: 335px;
        background-size: 75%
    }
    .inner-logo {
        padding: 40px 0
    }
}

@media screen and (max-width:640px) {
    .purchase-text,
    .portfolio,
    .categories,
    .purchase-text p {
        text-align: center;
    }
    .cart {
        width: 27px;
        padding: 0 !important;
    }
    .counters>div {
        flex-direction: column;
    }
    .logos {
        flex-wrap: wrap!important;
    }
    .sponsors .logo {
        width: 210px;
        height: 210px;
    }
    .inner-logo:nth-child(2) .logo {
        background-position: -210px 0
    }
    .inner-logo:nth-child(3) .logo {
        background-position: -420px 0
    }
    .inner-logo:nth-child(4) .logo {
        background-position: -630px 0
    }
    .services-item {
        width: 100%;
    }
    .categories {
        flex-direction: column !important;
    }
}

@media screen and (max-width:360px) {
    .text-center .text-top,
    .text-center .text-bottom {
        display: none;
    }
    .text-center .btn-link {
        margin-top: 200%;
    }
    .item-box img {
        width: 100%;
    }
    .mobile-devices img {
        height: 100%;
        width: 100%;
    }
}